<!DOCTYPE html>
<html lang="en">
    <head>
        {% include './all.html' %}
        <title>borr0u - ChangePasswd</title>
    </head>
    <body id="page-top">
        {% include './navigation.html' %}
        <body>
            <header class="sign-in">
                <h2>비밀번호 변경</h2>
                <ul>
                    <form action="" method="post" id="password_form">
                        {% csrf_token %}
                        <div class="old_password_full">
                            <p class="row_p">현재 비밀번호</p>
                            {{ form.old_password }}
                    
                        </div>
                        <div class="new_password_full">
                            <div class="new_full">
                            <div class="new_password_one">
                                <p>변경할 비밀번호</p>
                                {{ form.new_password1 }}
                            </div>
                            <div class="new_password_two">
                                <p>변경할 비밀번호 재입력</p>
                                {{ form.new_password2 }}
                            </div>
                        </div>
                            </div>
                            <input style="width: 300px; height: 50px;" type="submit" value="확인" class="password_submit">
                    </form>
                </ul>
            </header>
        </body>
    </body>
</html>
