<!DOCTYPE html>
<html lang="en">
    <head>
        {% include './all.html' %}
        <title>borr0u - Contact</title>
    </head>
    <body id="page-top">
        {% include './navigation.html' %}
        <!-- Login Section -->
        <body>
            <h2>{{ contact.username }}님의 문의내역</h2>
            <header class="regist">
                <h2>{{ contact.username }}님의 문의내역</h2>
                {% for contacts in contacts%}
                <!-- <h2>{{ contacts.username }}님의 문의내역</h2> -->
                <ul>
                    <div style="text-align: left; margin-bottom: -40px;">제목</div>
                    <div style="border: 1px solid black; padding: 10px; text-align: left;">{{ contacts.title }}</div><br>
                    <div style="text-align: left; margin-bottom: -40px;">문의내용</div>
                    <div style="border: 1px solid black; padding: 10px; text-align: left;">{{ contacts.content }}</div>
                </ul>
                {%endfor%}
            </header>
        </body>
    </body>
</html>
